<!DOCTYPE html>
<html ng-app="myApp" ng-controller="customersCtrl">
<title>The World</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="css/home.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!-- Angular-filter library-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.js"></script>
<!-- Font-awesome -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<body class="w3-light-grey ">

<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">Close Menu</a>
  <button onclick="insert()" class="w3-bar-item w3-button">新增國家</button>
  <button onclick="update()" class="w3-bar-item w3-button">更新國家</button>
</nav>

<!-- insert form -->
<div id="insertForm" class="modal">
  <form class="modal-content animate" >
    <div class="container">
      <h2>新增國家</h2>
      <label><b>國家名</b></label>
      <input type="text" placeholder="國家名稱" id="cname">
      <label><b>首都名</b></label>
      <input type="text" placeholder="首都名稱" id="capitalName">
      <label><b>圖片URL</b></label>
      <input type="text" placeholder="圖片連結" id="imgURL">
      <label><b>描述</b></label>
      <input type="text" placeholder="新增描述" id="describe">
      <button ng-click="confirm()">確定</button>
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('insertForm').style.display='none'" class="cancelbtn">取消</button>
    </div>
  </form>
</div>

<!-- update form -->
<div id="updateForm" class="modal">
  <form class="modal-content animate" >
    <div class="container">
      <h2>更新內容</h2>
      <label><b>國家名</b></label>
      <select id="country" ng-model="selectedName" ng-options="country.name for country in countryList">
      </select>
      <label><b>首都名</b></label>
      <input type="text" ng-model=selectedName.capital id="updateCapital" readonly>
      <label><b>圖片URL</b></label>
      <input type="text" placeholder="圖片連結" id="updateImgURL">
      <label><b>描述</b></label>
      <input type="text" placeholder="新增描述" id="updateDescribe">
      <button ng-click="updateConfirm()">更新</button>
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('updateForm').style.display='none'" class="cancelbtn">取消</button>
    </div>
  </form>
</div>

<!-- Top menu -->
<div class="w3-top">
  <div class=" w3-xlarge" style="max-width:1500px;margin:auto">
    <div class="fa fa-bars fa-lg w3-button w3-padding-16 w3-left" onclick="w3_open()"></div>
    <div class="w3-right w3-padding-16 w3-button" onclick="location.href='/record'"><i class="fa fa-clipboard"></i>&nbsp;紀錄</div>
    <div class="w3-display-middle w3-padding-16 w3-button" onclick="location.href='/'">My Trip</div>
  </div>
</div>
  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
    <div class="w3-container">
        <table class="w3-table w3-striped w3-white">
            <tr>
              <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
              <td>New record, over 90 views.</td>
              <td><i>10 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
              <td>Database error.</td>
              <td><i>15 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
              <td>New record, over 40 users.</td>
              <td><i>17 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-comment w3-text-red w3-large"></i></td>
              <td>New comments.</td>
              <td><i>25 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-bookmark w3-text-blue w3-large"></i></td>
              <td>Check transactions.</td>
              <td><i>28 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-laptop w3-text-red w3-large"></i></td>
              <td>CPU overload.</td>
              <td><i>35 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
              <td>New shares.</td>
              <td><i>39 mins</i></td>
            </tr>
          </table>
<!-- End page content -->
</div>

<script src="js/record.js"></script>

</body>
</html>